html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
input:focus {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/* Global */
:root {
  /* Color */
  --color-white: white;
  --color-dark-white: rgba(255, 255, 255, 0.7);
  --color-black: black;
  --color-grey: #666665;
  --color-light-grey: rgba(1, 1, 1, 0.4);
  --color-light-purple: #fff1ff;
  --color-dark-purple: #af8eb5;
  --color-red: #ef9a9a;
  --color-light-teal: #80cbc4;
  --color-dark-teal: #81aba8;
  --color-dark-blue: #7986cb;
  /* Background color */
  --background-purple: #dfc6e4;
  --background-blue: #69a0c7;
  --background-teal: #e4ffff;
  --background-pink: #fca8a5;
  /* Font size */
  --font-large: 54px;
  --font-medium: 32px;
  --font-regular: 28px;
  --font-small: 16px;
  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 20px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 10px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 5px 0px;
}

small {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-light-grey);
  margin: 2.5px 0px;
}

body {
  font-family: "open sans", sans-serif;
}
