.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  margin-top: 100px;
}

.about p {
  margin-bottom: 100px;
}

.skill {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.skill__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-grey);
}

.skill__wrapper__icon {
  width: 150px;
  height: 150px;
  font-size: 150px;
  padding: 170px;
  border: 2px solid var(--background-blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.skill__wrapper__icon i {
  color: var(--background-blue);
  transition: all 300ms ease-in-out;
}

.skill__wrapper__icon i:hover {
  transform: rotate(-30deg);
  color: var(--color-red);
}

.skill__wrapper span {
  font-size: 18px;
  font-weight: var(--weight-bold);
  color: var(--color-light-black);
  margin-bottom: 150px;
}

.carrer {
  width: 100%;
  position: relative;
  left: 0px;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.carrer img {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.carrer__detail {
  display: flex;
  flex-direction: column;
}

.carrer__detail span {
  font-size: 18px;
}

.carrer__detail span:nth-child(2) {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
  margin: 8px 0px;
}
