.contact {
  background-color: var(--background-pink);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 360px;
  margin-bottom: 30px;
}

.contact i {
  font-size: 50px;
  transition: all 300ms ease-in-out;
}

.contact i:hover {
  transform: scale(1.1);
  color: var(--color-grey);
}

.contact h1 {
  color: var(--color-white);
}

.contact h2 {
  color: var(--color-white);
}

footer {
  color: var(--color-dark-white);
  font-size: var(--font-small);
}
