.home {
  background-color: var(--background-purple);
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  color: var(--color-white);
  padding-top: 100px;
}

.home__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.home__wrapper h1 {
  color: var(--color-white);
  margin-top: 30px;
}

.home__wrapper h2 {
  color: var(--color-white);
}

.home__wrapper img {
  object-fit: cover;
  width: 380px;
  height: 380px;
  border-radius: 50%;
  border: 3px solid var(--color-white);
}

.home__wrapper button {
  background-color: transparent;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  color: var(--color-white);
  font-size: var(--font-regular);
  margin: 30px 0px;
  padding: 10px;
  cursor: pointer;
}
