.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--color-white);
  font-size: 20px;
  padding-top: 13px;
  padding-bottom: 30px;
  z-index: 2;
}

.nav--colorChange {
  background-color: var(--background-purple);
  z-index: 1;
}

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: var(--weight-semi-bold);
  z-index: 1;
}

.nav__logo__img {
  border-image-width: 10px;
  max-width: 38px;
  max-height: 38px;
  margin: 0px 15px;
}

.nav__menu {
  display: flex;
  margin-right: 3px;
}

.nav__menu li {
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: var(--weight-regular);
}

.nav__menu li:hover {
  background-color: var(--color-dark-purple);
}

.btn-ative {
  border: 1px solid white;
}

.mobile__menu__btn {
  display: none;
  z-index: 200;
  position: fixed;
  color: var(--color-white);
  top: 18px;
  right: 15px;
  font-size: 30px;
}

.mobile__menu__btn__icon {
  display: none;
}
