.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-purple);
  color: var(--color-white);
  font-size: 24px;
  padding-top: 13px;
  padding-bottom: 30px;
  margin-top: 20px;
}

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: var(--weight-semi-bold);
}

.nav__logo__img {
  border-image-width: 10px;
  max-width: 38px;
  max-height: 38px;
  margin: 0px 15px;
}

.nav__menu {
  display: flex;
  margin-right: 10px;
}

.nav__menu li {
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: var(--weight-regular);
}

.nav__menu li:hover {
  background-color: var(--color-dark-purple);
}
