.stack {
  background-color: var(--background-teal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px;
}

.skills {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin-top: 50px;
  height: 450px;
  color: var(--color-white);
}

.skills__detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 60%;
  background-color: var(--color-light-teal);
}

.skills__title {
  margin-bottom: 10px;
}

.skills__graph {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.skills__graph__detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 17px;
}

.skills__graph__box {
  background-color: var(--color-light-grey);
  height: 6px;
  width: 90%;
  align-self: center;
  border-radius: 4px;
}

.skills__graph__coloring {
  width: 80%;
  height: 6px;
  border-radius: 4px;
  background-color: var(--color-dark-blue);
  margin: 0px;
}

.etc {
  width: 100%;
  background-color: var(--color-dark-teal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}
