.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}

.work p {
  font-weight: var(--weight-semi-bold);
  font-size: 20px;
  margin: 15px;
}

.menu {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.menu__item {
  padding: 10px 30px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects__box {
  width: 350px;
  height: 300px;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projects__box:last-child {
  width: 250px;
  height: 200px;
  background-color: white;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.projects__img {
  width: 260px;
  height: 250px;
  cursor: pointer;
}

.menu__ative {
  background-color: var(--background-pink);
  color: white;
}

.menu__item__title {
  cursor: pointer;
}
